.container {
    background-image: url('../../media/photo-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    color: #ff764d;
    padding: 300px;

}